<!doctype html>
<html lang="de-DE">
    <head>
        <meta charset="utf-8" />
        <title>{{ tablename|e }} export</title>
        <link rel="stylesheet" href="stylesheet.css">
    </head>
    <body>
        <div class="content">
            <div class="title">
                <h1>{{ tablename|e }}</h1>
                <img src="Knapp_Logo.png" alt="Knapp logo hier">
            </div>

            <table class="styled-table">
                <thead>
                    <tr>
                        {% for item in header %}
                        <th>{{ item|e }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in rows %}
                        <tr>
                            {% for item in row %}
                            <td>{{ item|e }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h5 id="loaded"></h5>
        </div>
    </body>
</html>
